<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.caloriecheck">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CalorieCheck">
        <activity android:name=".Activitiy.RecipeinDay"></activity>
        <activity android:name=".Activitiy.DayInPlan" />
        <activity android:name=".Activitiy.Pedometer" />
        <activity android:name=".Activitiy.BeforeandAfter" />
        <activity android:name=".Activitiy.Updateprofile" />
        <activity android:name=".Activitiy.Editprofile" />
        <activity android:name=".Activitiy.AddRecipeAdmin" />
        <activity android:name=".Activitiy.Inforecipe" />
        <activity android:name=".Activitiy.learn2" />
        <activity android:name=".Activitiy.learn1" />
        <activity android:name=".Activitiy.Notes" />
        <activity android:name=".Activitiy.FoodSave" />
        <activity android:name=".Activitiy.Signup" />
        <activity android:name=".Activitiy.Login" />
        <activity android:name=".Activitiy.FoodInfo" />
        <activity android:name=".Activitiy.Add_Food_Activity" />
        <activity android:name=".Activitiy.CustomFood" />
        <activity android:name=".Activitiy.Home" />
        <activity android:name=".Activitiy.questionsix" />
        <activity android:name=".Activitiy.questionfive" />
        <activity android:name=".Activitiy.questionfour" />
        <activity android:name=".Activitiy.questionthree" />
        <activity android:name=".Activitiy.questiontwo" />
        <activity android:name=".Activitiy.questionone" />
        <activity android:name=".Activitiy.Hello" />
        <activity android:name=".Activitiy.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>